{% set card_body_classes = ['card-body'] | merge(card_body_classes is defined ? [card_body_classes] : []) | join(' ') %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        <title>{% block title %}Administration{% endblock %} | La Maison Jaune</title>

        <meta name="language" content="fr-FR" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/tournikoticrud/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="d-flex flex-column h-100">

            {% include '@TournikotiCrud/components/topbar.html.twig' %}

            <div class="flex-fill overflow-hidden">
                <div class="d-flex flex-row align-items-stretch h-100">

                    {% include '@TournikotiCrud/components/sidebar.html.twig' %}

                    <div class="flex-fill overflow-auto">
                        <div class="container-fluid">
                            <div class="mt-3">
                                {% block body %}
                                    <h1>{{ block('body_title') | trans }}</h1>

                                    {% if block('body_navbar') is defined %}
                                        <div class="mb-3">
                                            {{ block('body_navbar') }}
                                        </div>
                                    {% endif %}

                                    <div class="mb-3">
                                        <div class="card">
                                            <div class="{{ card_body_classes }}">
                                                {{ block('body_content') }}
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-dark text-light text-end px-2">
                <small>
                    {{ app_version }}
                </small>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/tournikoticrud/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
